@media (min-width: 100px) {
  .main-layout {
    /* max-width: 650px; */
    margin: 0 1rem 0 1rem;
  }

  .main-header {
    z-index: 2;
  }
  .card {
    max-height: 30%;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .card-main-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .img {
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 100px;
  }
  /* .card-main-content > *:not(:last-child) {
    margin-bottom: 1rem;
  } */
  .card-p {
    margin: 0 0 0 0;
    overflow: hidden;
  }
  .rights {
    max-width: 225px;
    font-size: 0.8rem;
  }
  .main-footer > * {
    margin-bottom: 1.5rem;
  }
  .nav-items {
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    /* margin-top: 130px; */
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background-color: var(--clr4);
    /* height: 84.5vh; */
    min-width: 180px;
    color: var(--clr1);
    border-left: solid 1px var(--clr6);
    transform: translateX(100%);
    /* transition: transform 0.6s, box-shadow 0.6s, visibility 3s; */
    transition: all 0.6s;
  }

  .nav-items > * {
    margin-bottom: 1.5rem;
  }
  body.menu-open .nav-items {
    transform: translateX(0);
    box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
  }
  body.menu-open .btn-close-menu {
    right: 0;
    transform: translateX(0);
    z-index: 1;
    transition: right 0.6s;
    background-color: var(--clr3);
  }

  .btn-menu {
    background-color: var(--clr3);
    visibility: visible;
  }
}

/* medium */

@media (min-width: 800px) {
  html {
    font-size: 14px;
  }
  .main-layout {
    max-width: 700px;
    margin: 0 auto;
  }
  .header-bcg .nav-items li {
    border-inline-end: 1px solid var(--clr9);
  }
  .nav-items > :nth-child(1) {
    border-inline-start: 1px solid var(--clr9);
  }
  .card {
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .rights {
    max-width: fit-content;
    font-size: 1rem;
  }
  .nav-items {
    /* margin-inline-end: 15rem; */
    flex-direction: row;
    /* gap: 5rem; */
    /* justify-content: space-between; */
    /* align-items: center; */
    position: static;
    background-color: inherit;
    border: none;
    transform: none;
  }

  .btn-menu {
    visibility: hidden;
    right: -150px;
  }
  .btn-menu {
    position: fixed;
    visibility: hidden;
    right: -150px;
  }
  .nav-items > * {
    margin: 0;
  }
  p {
    margin: 0 0 0 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0 2rem;
  }
  .nav-items a {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 130px;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s;
  }
  .main-header .nav-items > *:not(:last-child) {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .header-bcg {
    border-bottom: 5px solid var(--clr9);
  }
}
/* @media (min-width: 990px) {
  .main-layout {
    max-width: 850px;
    margin: 0 10rem 0 10rem;
  }
  .card {
    max-width: 100%;
  }
  .card-main-content > * {
    margin: 0 0 0 0;
  }
} */
@media (min-width: 1185px) {
  html {
    font-size: 16px;
  }
  .card .card-main-content p:last-of-type {
    flex: 1;
  }
  .main-layout {
    max-width: 900px;
  }
  .card {
    max-width: 100%;
  }
}
/* @media (min-width: 1000px) {
  .main-layout {
    max-width: 650px;
  }
} */
